<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    
    <script src="//unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  </head>
  <title>OPR</title>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/header.js"></script>

    <div id="app">
      <myheader @user-update="updateUser"></myheader>
    </div>

    <script>
      var app = new Vue({el: '#app',
        data: {
          user: {},
        },
        methods: {
          updateUser(val) {
            this.user = val
          }
        },
      })
    </script>
  </body>
</html>